{% load average_rating %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список фильмов</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.23.12/dist/css/uikit.min.css" />
</head>
<body>
    <header>
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left uk-margin-left">
                <a class="uk-navbar-item uk-logo" href="/">Кинотзыв.ру</a>
            </div>
        </nav>
    </header>
    <main class="uk-margin-top">
        <div class="uk-container">
            <h2 class="uk-text-center uk-animation-scale-down">Список фильмов</h2>
            <div class="uk-container uk-margin-top">
                {% for movie in movies %}
                <div class="uk-card uk-card-default uk-margin uk-animation-slide-left-medium">
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{ movie.title }}</h3>
                        <p>Год выпуска: {{ movie.year }}</p>
                        <p>Жанры: {% for genre in movie.genres.all %}
                            {% if genre.name != movie.genres.last.name %}{{ genre.name }},
                            {% else %}{{ genre.name }}{% endif %}
                            {% endfor %}</p>
                        <p>Средняя оценка: <span class="uk-badge uk-animation-slide-top-small" style="animation-delay: 0.3s;">{{ avg_ratings|keyvalue:movie.id }}</span></p>
                        <p>Количество отзывов: {{ movie.reviews.count }}</p>
                        <a href="/movie/{{ movie.id }}/" class="uk-button uk-button-primary uk-button-small">Подробнее</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>