<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список фильмов</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.23.12/dist/css/uikit.min.css" />
</head>
<body>
    <header>
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left uk-margin-left">
                <a class="uk-navbar-item uk-logo" href="/">Кинотзыв.ру</a>
            </div>
        </nav>
    </header>
    <main class="uk-margin-top">
        <div class="uk-container">
            <h2 class="uk-text-center">Список фильмов</h2>
            <div class="uk-container uk-margin-top">
                {% for movie in movies %}
                <div class="uk-card uk-card-default uk-margin">
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{ movie.title }}</h3>
                        <p>Год выпуска: {{ movie.year }}</p>
                        <p>Жанры: {% for genre in movie.genres.all %}{% if genre.name != movie.genres.last.name %}{{ genre.name }}, {% else %}{{ genre.name }}{% endif %}{% endfor %}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>